In [1]:
import pandas as pd

data = pd.read_csv('04+-+decisiontreeAdultIncome.csv')

In [2]:
data

,age,wc,education,marital status,race,gender,hours per week,IncomeClass
0,38,Private,HS-grad,Divorced,White,Male,40,<=50K
1,28,Private,Bachelors,Married,Black,Female,40,<=50K
2,37,Private,Masters,Married,White,Female,40,<=50K
3,31,Private,Masters,Never-married,White,Female,50,>50K
4,42,Private,Bachelors,Married,White,Male,40,>50K
...,...,...,...,...,...,...,...,...
19782,53,Private,Masters,Married,White,Male,40,>50K
19783,22,Private,Some-college,Never-married,White,Male,40,<=50K
19784,40,Private,HS-grad,Married,White,Male,40,>50K
19785,58,Private,HS-grad,Widowed,White,Female,40,<=50K
19786,22,Private,HS-grad,Never-married,White,Male,20,<=50K

In [3]:
data.isnull().sum()

age               0
wc                0
education         0
marital status    0
race              0
gender            0
hours per week    0
IncomeClass       0
dtype: int64

In [4]:
data.dtypes

age                int64
wc                object
education         object
marital status    object
race              object
gender            object
hours per week     int64
IncomeClass       object
dtype: object

In [5]:
data_prep = pd.get_dummies(data, drop_first=True)

In [6]:
data_prep

,age,hours per week,wc_ Local-gov,wc_ Never-worked,wc_ Private,education_ Doctorate,education_ HS-grad,education_ Masters,education_ Preschool,education_ Prof-school,education_ Some-college,marital status_ Never-married,marital status_ Widowed,marital status_Married,race_ Asian-Pac-Islander,race_ Black,race_ Other,race_ White,gender_ Male,IncomeClass_ >50K
0,38,40,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,1,1,0
1,28,40,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0
2,37,40,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0
3,31,50,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,1,0,1
4,42,40,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19782,53,40,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0,1,1,1
19783,22,40,0,0,1,0,0,0,0,0,1,1,0,0,0,0,0,1,1,0
19784,40,40,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,1,1,1
19785,58,40,0,0,1,0,1,0,0,0,0,0,1,0,0,0,0,1,0,0
19786,22,20,0,0,1,0,1,0,0,0,0,1,0,0,0,0,0,1,1,0

In [7]:
x = data_prep.iloc[:, :-1]
y = data_prep.iloc[:, -1]

In [8]:
x

,age,hours per week,wc_ Local-gov,wc_ Never-worked,wc_ Private,education_ Doctorate,education_ HS-grad,education_ Masters,education_ Preschool,education_ Prof-school,education_ Some-college,marital status_ Never-married,marital status_ Widowed,marital status_Married,race_ Asian-Pac-Islander,race_ Black,race_ Other,race_ White,gender_ Male
0,38,40,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,1,1
1,28,40,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0,0
2,37,40,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0,1,0
3,31,50,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,1,0
4,42,40,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19782,53,40,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0,1,1
19783,22,40,0,0,1,0,0,0,0,0,1,1,0,0,0,0,0,1,1
19784,40,40,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,1,1
19785,58,40,0,0,1,0,1,0,0,0,0,0,1,0,0,0,0,1,0
19786,22,20,0,0,1,0,1,0,0,0,0,1,0,0,0,0,0,1,1

In [9]:
y

0        0
1        0
2        0
3        1
4        1
        ..
19782    1
19783    0
19784    1
19785    0
19786    0
Name: IncomeClass_ >50K, Length: 19787, dtype: uint8

In [10]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(
x,y, test_size=0.3, random_state=1234, stratify=y)

In [11]:
from sklearn.tree import DecisionTreeClassifier

dtc = DecisionTreeClassifier(random_state=1234)
dtc.fit(x_train,y_train)

y_predict = dtc.predict(x_test)

In [12]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_predict)
score = dtc.score(x_test,y_test)

In [13]:
score

0.7710965133906014

In [14]:
cm

array([[3814,  559],
       [ 800,  764]], dtype=int64)

In [15]:
from sklearn.ensemble import RandomForestClassifier

rfc = RandomForestClassifier(random_state=1234)
rfc.fit(x_train,y_train)

y_predict = rfc.predict(x_test)

#from sklearn.metrics import confusion_matrix
cm2 = confusion_matrix(y_test, y_predict)
score2 = rfc.score(x_test,y_test)

In [16]:
rfc

RandomForestClassifier(random_state=1234)

In [17]:
y_predict

array([0, 0, 0, ..., 0, 0, 0], dtype=uint8)

In [18]:
cm2

array([[3889,  484],
       [ 708,  856]], dtype=int64)

In [21]:
score2

0.7992251979114031